node_modules/
dist/
packages/*/src/**/*.js
packages/*/src/**/*.js.map
packages/*/src/**/*.d.ts
packages/*/src/**/*.d.ts.map
.env
.env.*
!.env.example
!.env.test
coverage/
*.db
*.db-journal
apps/api/uploads/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

